header {
    width: 100%; height: 100vh; 
    background-image: url(/public/pic/headerBgPic.jpg);
    background-repeat: no-repeat; background-size: cover;
    background-position: top; position: relative; z-index: 0;

    
    .cloud {
        width: 100%; height: 100%; position: absolute; top: 0; left: 0;
        z-index: 5; overflow: hidden;

        &::before {
            content: "";
            position: absolute; top: 0; left: 0; width: 300%; height: 100%; 
            overflow: hidden; background-image: url(/public/pic/cloud1.png); 
            background-position: center; background-repeat: repeat; background-size: contain;
            animation: cloud 60s linear 0s infinite alternate;
        }
        &::after {
            content: "";
            position: absolute; top: 0; left: 0; width: 300%; height: 100%; background-size: contain;
            background-image: url(/public/pic/cloud2.png); background-repeat: repeat; background-position: center;
            animation: cloud 25s linear 0s infinite alternate;
            
        }
    }


    .headerMenu {
        z-index: 10; 
        position: absolute; top: 70px; right: 200px; display: flex; 
        
        >li {
            margin-left: 40px; color: #fff; font: bold 15px/1 "Barlow Condensed"; letter-spacing: 2.1px; padding-bottom: 4px;
            position: relative; overflow: hidden; width: 86px; cursor: pointer;

            &:nth-of-type(1) { margin-left: 0;}
            &::after {
                content: ""; display: block; background: #fff; width: 100%; border-bottom: 2px solid;
                transform: translateX(-110%); position: absolute; bottom: 0; left: 0; margin-top: 2px;
            }

            .sub {
                background-color: #221852; margin-top: 22px; padding: 8px;
                opacity: 0; text-align: center; font-size: 13px; position: relative;
                transition: 0.3s; transform: translateY(50px); cursor: default;
                ul {
                    li {margin-bottom: 5px;}
                }

                &::after {
                    content: ""; width: 0; height: 0; position: absolute; top: -12px; left: 24px;
                    border: 12px solid transparent; 
                    border-top-width: 0; border-bottom-color: #221852;
                }
            }
            &:hover {
                color: #f8b5f8;
                .sub {
                    opacity: 1; transform: translateY(0px); color: #fff; z-index: 2;
                    ul {
                        li:hover {
                            cursor: pointer; color: #f8b5f8;
                        }
                    }
                }
            }
        }
    }
    

    .inner {
        width: 1024px; margin: 0 auto; transform: translateY(330px);
        position: relative; z-index: 10; opacity: 0; transition: 1s;
        .txtBox {
            width: 512px; 

            h4 {
                font: bold 14px/50px "Barlow Condensed"; letter-spacing: 5px; color: #fff;
            }
            h1 {
                padding-top: 21px; font: 36px/36px "Barlow Condensed"; letter-spacing: 6px; 
                color: #fff; margin-bottom: 25px;
            }
            p {
                color: #fff; font: normal 16px/28px "Open Sans"; font-weight: 300;
                letter-spacing: 1px;
            }
        }
        &.eventOn {opacity: 1; transform: translateY(170px);}
    }
    
    .badge {
        position: absolute; width: 90px; height: 90px; left: 70px;
        bottom: 50px; z-index: 99;
        img {width: 100%; height: 100%;}
    }
    .duckPic {
        position: absolute; bottom: 0; top: calc(100vh - 250px); width: 640px;
        height: 270px; right: 0; z-index: 5;
    }

    &::after {
        position: absolute; top: 0; left: 0;
        z-index: 2; background: #191136; opacity: 0.5; display: block;
        content: ""; width: 100%; height: 100%;
    }
    .headerBottom {
        width: 100%; display: block; opacity: 0.9; position: absolute; bottom: 0; 
        transform: translateY(100%);
    
        img {width: 100%;}
    }
}



@keyframes cloud {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100vw);
    }

}

@media screen and(max-width : 1223px) {
    header {
        
        .headerMenu {
            opacity: 0; top: -9999px;
        }
        .inner {
            width: 568px; 
            .txtBox {
                width: 80%; 
            }
        }
        
        .badge {
             left: 30px; bottom: 30px;
        }
        .duckPic {
            position: absolute; bottom: 30px; top: calc(100vh - 250px); width: 540px;
            height: 200px; right: 0; z-index: 97;
        }
    }
}

@media screen and(max-width : 660px) {
    header {
        .inner {
            width: 90%; transform: translateY(130px);
            .txtBox {
                width: 100%; 
            }
        }
        .badge {
             left: 15px; bottom: 15px; width: 70px; height: 70px;
        }
        .duckPic {
            position: absolute; bottom: 0px; width: 340px;
            height: 150px; right: 0; z-index: 97;

            img {width: 100%; height: 100%;}
        }
    }
}

