*{
    margin: 0; padding: 0;
}
ul,ol,li {
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    overflow-X: hidden;
    box-sizing: border-box;
}

.h {
    opacity: 0; text-indent: -9999px;
}

